<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Blog Chulo</title>
</head>
<body>
    <section id="principal">
        <h1>Mini Blog</h1>
        <form method="post">
            <label for="text">Título</label>
            <input id="title" type="text" name="titulo" placeholder="Introduce el titulo">

            <label for="content">Contenido</label>
            <input id="content" type="text" name="contenido" placeholder="Introduce el contenido">

            <button id="agregar">Agregar</button>
        </form>

        <h3>Posts</h3>
        <ul id="lista">
            <li>
                <div class="head"><span class="titulo_post">Titulo del post</span><span class="fech_post">06-01-2025</span></div>
                <span class="contenido_post">Esto no es mas que un mero ejemplo de lo que seria un contenido en un blog</span>
            </li>
        </ul>
    </section>
    
</body>
</html>