<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Blog Chulo</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <section id="principal">
        <h1>Mini Blog</h1>
        <form method="post">
            <h3>Agregar Entradas</h3>
            
            <div id="inputs">
                <div>
                    <label for="text">Título</label>
                    <input maxlength="20" id="title" type="text" name="titulo" placeholder="Introduce el titulo" required>
                </div>

                <div>
                    <label for="content">Contenido</label>
                    <input maxlength="50" id="content" type="text" name="contenido" placeholder="Introduce el contenido" required>
                </div>

                
            </div>

            <button id="agregar">Agregar</button>
        </form>

        
        <ul id="lista">
            <h1>Posts</h1>

            {% for entrada in entradas %}

            <li>
                <div class="head"><span class="titulo_post">{{entrada.title}}</span> <span class="fecha_post">{{fecha}}</span></div>
                <span class="contenido_post">{{entrada.content}}</span>
            </li>

            {% endfor %}



        </ul>
    </section>


    <script src="../static/script.js"></script>
    
</body>
</html>